schemaPuissance4.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="puissance4">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ligne" maxOccurs="6" minOccurs="6">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="case" maxOccurs="7" minOccurs="7">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute type="xs:byte" name="position" use="optional"/>
											<xs:attribute type="xs:string" name="color" use="optional"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute type="xs:byte" name="position" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>